* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Gurajada', serif;
  background-color: #101823;
  padding: 20px 80px;
}

h1 {
  font-family: 'Rubik', sans-serif;
  color: #FCFAFA;
  font-family: Gurajada;
  text-align: center;
  font-size: 96px;
  font-style: normal;
  font-weight: 400;
  line-height: 55px;
}

h1 span {
  font-family: 'Rubik', sans-serif;
  color: #FCFAFA;
  text-align: center;
  font-family: Gurajada;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

h3 {
  color: #F1EEEE;
  text-align: center;
  font-family: Gurajada;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin-top: 20px;
}

p {
  font-family: 'Rubik', sans-serif;
  color: #101823;
}

.form {
  margin-top: 20px;
  width: 100%;
  display: flex;
  align-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
  background-color: #D9D9D9;
  padding: 8px;
}

.form .form-input {
  background-color: #C96161;
  border: none;
  padding: 8px 12px;
}

input {
  font-family: 'Rubik', sans-serif;
  color: #101823;
}

.characters {
  margin-top: 30px;
  width: 100%;
  display: flex;
  gap: 24px;
  justify-content: space-around;
  align-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.char {
  width: auto;
  height: auto;
}

.char .char-img-container {
  width: 200px;
  height: 200px;
  background-color: #F64651;
}

.char .char-img {
  width: 100%;
  height: 100%;
}

.char .char-name-container {
  width: 100%;
  background-color: #C96161;
}

.char .char-name {
  color: #F1EEEE;
  font-family: 'Gurajada', serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
}

.char .char-icon-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.char .char-icon {
  width: 32px;
  height: 32px;
  margin-top: 8px;
}
